
<!DOCTYPE html>
<html>
    <head>
        <title>Fuchsbau</title>
    </head>
    
</html>
<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Der Dackel</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Add color to your life</a></h2>
            <p>Don't buy!!! Adapt- save a life! <3 </p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Find a hobby</a></h2>
            <p>Get a fresh air! Your body needs that.</p>
        </article>
    </body>
</html>
